<?xml version="1.0" encoding="utf-8"?><!--SPG:

  This HTML file has been associated with a SharePoint Master Page (.master file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .master file, and any rename, move, or deletion operations will be reciprocated.
  
  To build the master page directly from this HTML file, simply edit the page as you normally would.  Use the Snippet Generator at https://atsmro4.sharepoint.com/sites/ai/_layouts/15/ComponentHome.aspx?Url=https%3A%2F%2Fatsmro4%2Esharepoint%2Ecom%2Fsites%2Fai%2F%5Fcatalogs%2Fmasterpage%2Fats%2Dredux%2Findex%2Emaster to create and customize useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file will automatically sync to the associated Master Page.
  
  -->
  <!DOCTYPE html[]>
  <html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
      <head>
          <meta http-equiv="X-UA-Compatible" content="IE=10" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">//<![CDATA[//]]>
          </script>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
          <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
          <link href="/sites/ai/_catalogs/masterpage/ats-redux/static/css/main.0d775975.css" rel="stylesheet" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
          <!--CS: Start Page Head Contents Snippet-->
          <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
          <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
          <!--SID:00 -->
          <meta name="GENERATOR" content="Microsoft SharePoint" />
          <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
          <meta http-equiv="Expires" content="0" />
          <!--MS:<SharePoint:RobotsMetaTag runat="server">-->
          <!--ME:</SharePoint:RobotsMetaTag>-->
          <!--MS:<SharePoint:PageTitle runat="server">-->
              <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
                  <!--MS:<SharePoint:ProjectProperty Property="Title" runat="server">-->
                  <!--ME:</SharePoint:ProjectProperty>-->
              <!--ME:</asp:ContentPlaceHolder>-->
          <!--ME:</SharePoint:PageTitle>-->
          <!--MS:<SharePoint:StartScript runat="server">-->
          <!--ME:</SharePoint:StartScript>-->
          <!--MS:<SharePoint:CssLink runat="server" Version="15">-->
          <!--ME:</SharePoint:CssLink>-->
          <!--MS:<SharePoint:CacheManifestLink runat="server">-->
          <!--ME:</SharePoint:CacheManifestLink>-->
          <!--MS:<SharePoint:PageRenderMode runat="server" RenderModeType="Standard">-->
          <!--ME:</SharePoint:PageRenderMode>-->
          <!--MS:<SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server" Localizable="false">-->
          <!--ME:</SharePoint:ScriptLink>-->
          <!--MS:<SharePoint:ScriptLink language="javascript" name="menu.js" OnDemand="true" runat="server" Localizable="false">-->
          <!--ME:</SharePoint:ScriptLink>-->
          <!--MS:<SharePoint:ScriptLink language="javascript" name="callout.js" OnDemand="true" runat="server" Localizable="false">-->
          <!--ME:</SharePoint:ScriptLink>-->
          <!--MS:<SharePoint:ScriptLink language="javascript" name="sharing.js" OnDemand="true" runat="server" Localizable="false">-->
          <!--ME:</SharePoint:ScriptLink>-->
          <!--MS:<SharePoint:ScriptLink language="javascript" name="suitelinks.js" OnDemand="true" runat="server" Localizable="false">-->
          <!--ME:</SharePoint:ScriptLink>-->
          <!--MS:<SharePoint:CustomJSUrl runat="server">-->
          <!--ME:</SharePoint:CustomJSUrl>-->
          <!--MS:<SharePoint:SoapDiscoveryLink runat="server">-->
          <!--ME:</SharePoint:SoapDiscoveryLink>-->
          <!--MS:<SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">-->
              <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
              <!--ME:</asp:ContentPlaceHolder>-->
              <!--MS:<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true">-->
              <!--ME:</SharePoint:DelegateControl>-->
              <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
              <!--ME:</asp:ContentPlaceHolder>-->
          <!--ME:</SharePoint:AjaxDelta>-->
          <!--MS:<SharePoint:CssRegistration Name="Themable/corev15.css" runat="server">-->
          <!--ME:</SharePoint:CssRegistration>-->
          <!--MS:<SharePoint:AjaxDelta id="DeltaSPWebPartManager" runat="server">-->
              <!--MS:<WebPartPages:SPWebPartManager runat="server">-->
              <!--ME:</WebPartPages:SPWebPartManager>-->
          <!--ME:</SharePoint:AjaxDelta>-->
          <!--CE: End Page Head Contents Snippet-->
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
          <meta name="theme-color" content="#000000" />
          <link rel="manifest" href="/manifest.json" />
          <link rel="shortcut icon" href="/favicon.ico" />
          <!--DC:React App-->
          <!--[if gte mso 9]><xml>
  <mso:CustomDocumentProperties>
  <mso:ContentTypeId msdt:dt="string">0x0101000F1C8B9E0EB4BE489F09807B2C53288F0054AD6EF48B9F7B45A142F8173F171BD10003D357F861E29844953D5CAA1D4D8A3A</mso:ContentTypeId>
  <mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
  <mso:HtmlDesignFromMaster msdt:dt="string"></mso:HtmlDesignFromMaster>
  <mso:HtmlDesignStatusAndPreview msdt:dt="string">https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/index.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
  <mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
  </mso:CustomDocumentProperties>
  </xml><![endif]-->
      </head>
      <body>
          <!--CS: Start Ribbon Snippet-->
          <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
          <!--SPM:<%@Register Tagprefix="wssucw" TagName="Welcome" Src="~/_controltemplates/15/Welcome.ascx"%>-->
          <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" HideFromSearchCrawler="true" EmitDiv="true">-->
              <div id="TurnOnAccessibility" style="display:none" class="s4-notdlg noindex">
                  <a id="linkTurnOnAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(true);UpdateAccessibilityUI();document.getElementById('linkTurnOffAcc').focus();return false;">
                      <!--MS:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnonaccessibility%&#62;" EncodeMethod="HtmlEncode">-->
                      <!--ME:</SharePoint:EncodedLiteral>-->
                  </a>
              </div>
              <div id="TurnOffAccessibility" style="display:none" class="s4-notdlg noindex">
                  <a id="linkTurnOffAcc" href="#" class="ms-accessible ms-acc-button" onclick="SetIsAccessibilityFeatureEnabled(false);UpdateAccessibilityUI();document.getElementById('linkTurnOnAcc').focus();return false;">
                      <!--MS:<SharePoint:EncodedLiteral runat="server" text="&#60;%$Resources:wss,master_turnoffaccessibility%&#62;" EncodeMethod="HtmlEncode">-->
                      <!--ME:</SharePoint:EncodedLiteral>-->
                  </a>
              </div>
          <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
          <div id="ms-designer-ribbon">
              <!--SID:02 {Ribbon}-->
              <!--PS: Start of READ-ONLY PREVIEW (do not modify) --><div class="DefaultContentBlock" style="background:rgb(0, 114, 198); color:white; width:100%; padding:8px; height:64px; overflow:hidden;">The SharePoint ribbon will be here when your file is either previewed on or applied to your site.</div><!--PE: End of READ-ONLY PREVIEW -->
          </div>
          <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">-->
              <!--MS:<wssucw:Welcome runat="server" EnableViewState="false">-->
              <!--ME:</wssucw:Welcome>-->
          <!--ME:</SharePoint:SPSecurityTrimmedControl>-->
          <!--CE: End Ribbon Snippet-->
          <div id="s4-workspace">
              <div id="s4-bodyContainer">
                  <noscript>You need to enable JavaScript to run this app.
                  
                  
                  </noscript>
                  <div id="data" style="display:none;">
                  </div>
                  <div data-name="SearchBox">
                      <!--CS: Start Search Box Snippet-->
                      <!--SPM:<%@Register Tagprefix="SearchWC" Namespace="Microsoft.Office.Server.Search.WebControls" Assembly="Microsoft.Office.Server.Search, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                      <!--MS:<SearchWC:SearchBoxScriptWebPart UseSiteCollectionSettings="true" EmitStyleReference="false" ShowQuerySuggestions="false" ChromeType="None" UseSharedSettings="true" TryInplaceQuery="false" ServerInitialRender="true" runat="server">-->
                          <!--PS: Start of READ-ONLY PREVIEW (do not modify)--><div class="ms-webpart-chrome ms-webpart-chrome-fullWidth "><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPart" width="100%" class="ms-WPBody noindex " OnlyForMePart="true" allowDelete="false" style=""><div componentid="ctl00_ctl03_csr" id="ctl00_ctl03_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_ctl03_csr_sboxdiv"><input type="text" value="Search..." maxlength="2048" title="Search..." id="ctl00_ctl03_csr_sbox" autocomplete="off" autocorrect="off" onkeypress="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {if (Srch.U.isEnterKey(String.fromCharCode(event.keyCode))) {$find('ctl00_ctl03_csr').search($get('ctl00_ctl03_csr_sbox').value);return Srch.U.cancelEvent(event);}})" onkeydown="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_ctl03_csr');ctl.activateDefaultQuerySuggestionBehavior();})" onfocus="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_ctl03_csr');ctl.hidePrompt();ctl.setBorder(true);})" onblur="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {var ctl = $find('ctl00_ctl03_csr'); if (ctl){ ctl.showPrompt(); ctl.setBorder(false);}})" class="ms-textSmall ms-srch-sb-prompt ms-helperText" /><a title="Search" role="button" class="ms-srch-sb-searchLink" id="ctl00_ctl03_csr_SearchLink" onclick="EnsureScriptFunc('Search.ClientControls.js', 'Srch.U', function() {$find('ctl00_ctl03_csr').search($get('ctl00_ctl03_csr_sbox').value);})" href="javascript: {}"><img src="https://atsmro4.sharepoint.com/_layouts/15/images/searchresultui.png?rev=45#ThemeKey=searchresultui" class="ms-srch-sb-searchImg" id="searchImg" alt="Search" /></a></div></div></div><noscript><div id="ctl00_ctl03_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_ctl03"></div><div class="ms-clear"></div></div></div><!--PE: End of READ-ONLY PREVIEW-->
                      <!--ME:</SearchWC:SearchBoxScriptWebPart>-->
                      <!--CE: End Search Box Snippet-->
                  </div>
                  <div id="navAndHeader">
                  </div>
                  <div data-name="ContentPlaceHolderMain">
                      <!--CS: Start PlaceHolderMain Snippet-->
                      <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
                      <!--MS:<SharePoint:AjaxDelta ID="DeltaPlaceHolderMain" IsMainContent="true" runat="server">-->
                          <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
                              <div class="DefaultContentBlock" style="border:medium black solid; background:yellow; color:black; margin:20px; padding:10px;">
              This div, which you should delete, represents the content area that your Page Layouts and pages will fill. Design your Master Page around this content placeholder.
          
                              
                              
                              </div>
                          <!--ME:</asp:ContentPlaceHolder>-->
                      <!--ME:</SharePoint:AjaxDelta>-->
                      <!--CE: End PlaceHolderMain Snippet-->
                  </div>
                  <div id="footer">
                  </div>
              </div>
          </div>
          <script type="text/javascript" src="/sites/ai/_catalogs/masterpage/ats-redux/static/js/main.265b2804.js">//<![CDATA[	
           
          //]]>
          </script>
          <script type="text/javascript">//<![CDATA[
            var cntx = JSON.stringify(_spPageContextInfo);
             document.getElementById('data').innerHTML = cntx 
             $('#ms-designer-ribbon').attr('style', 'display:none');
           
          //]]>
          </script>
      </body>
  </html>
  