@font-face {
  font-family: 'bebas_neueregular';
  src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.woff2') format('woff2'),
       url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.woff') format('woff'),
       url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.ttf') format('truetype'),
       url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasNeue.otf') format('opentype'),
       url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* * {
  font-family: 'bebas_neueregular', Arial, Verdana, Georgia;
  color: red !important;
} */

/* 
  ================================================
    Global variables
  ================================================
*/
:root {

  /* Theme Colors */
  --theme-color-dark-blue: #155781;

  /* Text colors */
  --paragraph-txt-color: #858585;
  --nav-menu-txt-color: #4597cb;
  --nav-menu-txt-hover-color: --theme-color-dark-blue;

  /* Block elements colors */
  --banner-tags-bg-color: #4597cb;

}


/* =============================================== */



/* 
  ================================================
    Global helpers
  ================================================
*/
.about-you-ul a{
  color: black;
}

.about-you-ul a:visited{
  color: black;
}

.content-widget-content a {
  color: black; 
}

.content-widget-content a:visited {
  color: black; 
}

.tertiary-page-article-content a{
  color: black;
}

.tertiary-page-article-content a:visited{
  color: black;
}

.tertiary-page-article-content h2{
  color: black !important; 
}

#archive a{
  color: black 
}

#archive a:visited{
  color: black 
}

.paragraph {
  color: var(--paragraph-txt-color);
  color: rgb(133,133,133);
}

.widgets {
  box-shadow: unset !important;
}

.no-bg {
  background-color: transparent !important;
  background: none !important;
}

.no-padding {
  padding: unset !important;
}

.bordered {
  border: 1px solid red !important;
}

.no-border {
  border: unset !important;
}

.no-background {
  background: none !important;
}


/* =============================================== */



* {
  box-sizing: border-box !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item a{
  color: rgb(0, 65, 106) !important;
}

a:hover {
  text-decoration: none !important;
}

.nav-item a:hover{
  color: rgb(0, 124, 201) !important;
  text-decoration: none !important;
}

.active a {
  color: white !important;
}

.active a:hover {
  color: rgb(224, 224, 224) !important;
}

.banner-wrapper {
  position: relative;
  height: 330px;
  border-radius: 5px;
  /* border: 1px solid red */
}

.serps {
  border: 1px solid #4b9acc;
  border-radius: 5px;
}

.about-you {
  border: 1px solid #4b9acc !important;
  border-radius: 5px !important;
  /* box-shadow: 5px 5px 8px black !important; */
  margin-top: -30px !important;
}

#blogserp-widget, #poll-widget, #events-widget {
  margin-top: 1.9rem !important;
  margin-bottom: 1.9rem !important;
}

#blogserp-widget h3, #blogserp-widget h4 {
  font-weight: bold !important;
  /*color: #4b9acc !important;*/
}

.blog-excerpt {
  overflow: hidden;
  height: 150px;
}



#news-widget h4 {
  color: #000;
  font-weight: bold;
}

#news-widget h2 {
  color: #000;
  font-weight: 400;
  font-size: 2rem;
}

#news-widget {
  background-color: rgb(210,238,255) !important;
}

#news-widget .eight.wide.column.no-bg {
  max-height: 110px;
  overflow: hidden;
}


#poll-widget img {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0.5;
}

#poll-widget {
  /* padding: 0 !important; */
  position: relative;
  /* overflow: hidden; */
}

#poll-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
}


#poll-segment-bg, #poll-form label {
  background: none !important;
  color: #000 !important;
  font-weight: bold;
}



#poll-content img {
  z-index: 5 !important;
  opacity: 1 !important;
}

#poll-content h3,
#poll-form h4 {
  color: #111212;
}

#poll-content h3 {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

#poll-form h4 {
  font-weight: bolder !important;
  font-size: 1.15rem !important;
}

#header-wrapper {
  margin-bottom: 1rem;
}

#header {
  height: 60px;
  background-color: rgb(27, 27, 145);
  color: #fff;
  text-align: center;
}

#sub-header-bar {
  height: 40px;
  background-color: rgb(199, 199, 199);
}


#alert-segment-bg span {
  color: rgb(218, 21, 21);
  font-size: 1.14rem;
}

.alert-headline {
  color: #000 !important;
  font-weight: bold !important;
}

.alert-headline-warning {
  color: #fff !important;
  font-weight: bold !important;
}

.alert-details {
  color: #000 !important;
}

.alert-details-warning {
  color: #fff !important;
}

#alert-segment-bg:after {
  content: ' ' !important;
  height: 20px !important;
}

#alert-segment-bg {
  background: none !important;
}

#alert-widget {
  background-color: #e8e3e7;
  padding: 8px 15px 8px 5px !important;
}

#alert-widget-notice,
#alert-widget-warning,
#alert-widget-important {
  padding:8px 15px 8px 5px!important;
  margin: 0 0 5px 0!important;
}

#alert-widget-warning {
  background-color: red;
  margin: 15px 0px 0px 0px !important;
}

#alert-widget-notice {
  background-color: #efdc00;
  margin: 15px 0px 0px 0px !important;
}

#alert-widget-important {
  background-color: #c3c3c3;
  margin: 15px 0px 0px 0px !important;
}

#events-widget {
  background-color:  #f6f6f6;
  overflow-y: auto !important;
  /* height: 468px !important; */
  padding-bottom: 30px;
}

#events-widget h2 {
  color: rgb(0, 0, 0) !important;
  margin-bottom: 1rem !important;
  font-weight: bold !important;
}

.events-list {
  background: none !important;
}

.event-title {
  color: #4b9acc;
}

.mini-widget-boxes {
  /* border: 1px solid rgb(221, 221, 221); */
  border-radius: 4px;
}




/* 
  =====================================
    Footer Section 
  =====================================
*/


#s4-bodyContainer {
  padding-bottom: 0 !important;
}


#footer-wrapper {
  /* height: 120px; */
  background-color: #206092;
  color: #fff !important;
  text-align: left;
  width: 100%;

}


#footer-widget,
#footer-widget .header,
#footer-widget .meta,
#footer-widget a,
#footer-widget h2, 
#footer-widget h3,
#footer-widget .content,
#footer-links,
#footer-links a,
#footer-menu,
#footer-menu .item,
#footer-images  {
  background: transparent !important;
  color: #fff !important;
}

#footer-widget .header.links a {
  font-size: 1rem !important;
  /* line-height: 2; */
  /* margin: 0 !important;
  padding: 0 !important; */
  font-weight: 500!important;
}


.footer-img-text,
.footer-img-text:hover,
.footer-img-text a,
.footer-img-text a:hover {
  font-weight: bold;
  color: #fff;
  font-size: 0.80rem;
}

.footer-img-text a:hover {
  text-decoration: underline !important;
  
}

.footer-img-text a:after {
  content: ' | ';
  margin: 0 3px
}

.footer-img-text a:last-child:after {
  content: '';
}





/* 
  =====================================
    Banner section
  =====================================
*/

.banner-tags {
  position: relative;
}

.banner-tags:hover {
  Color: rgb(118,118, 118) !important;
  background-color: rgb(210,238,255) !important;
 
}

.banner-tags:hover.active-index {
  background-color:  #4597cb !important;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 16px solid #4597cb;
  border-bottom: 8px solid transparent;


  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 42px;
  margin-left: -16px;
}

#triangle-left:hover {
  border-right: 16px solid rgb(210,238,255);

}




/* ==================================== */




/* 
  =====================================
    Media Queries section
  =====================================
*/

@media screen and (max-width: 767px) {
  .blog-excerpt {
    height: 100% !important;
    overflow: initial !important;
  }
}

/* Styling for Quick poll */
.quick-poll-title-choices {
  padding: 30px 0x 30px 0px;
}

/* style definition for Pillars top right link */
.pillars-top-right-link-container {
  border-radius: 5px;
  border: 2px solid #b9babc;
  margin-top: 15px;
  padding: 15px 5px;
  height: 90px;
}

.pillars-top-right-link-text1 {
  text-align: center;
  font-size: 26px;
  color: #49b9ff;
  font-weight: 500;
  font-family: bebas_neueregular, 'Segoe UI';
  padding-bottom: 5px;
}

.pillars-top-right-link-text2{
  text-align: center;
}

.pillars-top-right-link-text3{
  text-align: center;
}