@font-face {
    font-family: 'bebas_neueregular';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.woff2') format('woff2'),
         url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.woff') format('woff'),
         url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasNeue.otf') format('opentype'),
         url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondBold';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-CondBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondLight';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-CondLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondLightItalic';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-CondLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('https://atsmro4.sharepoint.com/sites/ai/_catalogs/masterpage/ats-redux/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.right-side-hero {
    /* background-image: url('https://atsmro4.sharepoint.com/sites/ai/PublishingImages/IMG_6394-742.png') */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid blue;
}

.banner-img-details {
    width: 60%;
    margin-top: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.transparency {
    background-color: rgba(0, 65, 106, 0.5);
}

.right-side-hero-title {
    font-size: 4vh;
    font-weight: bolder;
    margin-bottom: 10px;
    /* color: rgb(0,0,120); */
    width: 100%;
    /* height: auto;    */
}

.right-side-hero-date {
    font-weight: 600;
    margin-bottom: 20px;
    /* color: rgb(0,0,100); */
}

.right-side-hero-description {
    /* padding-top: 50px; */
    font-size: 15px;
    /* color: rgb(0,0,150); */
    width: 100%;
}

.right-side-hero-tab-title {
    /* padding-top: 35px; */
    font-weight: bold;
    width: 100%;
}

.sub-headlines {
    height: 200px;
    width: 445px;
}

.sub-headlines-text {
    padding-left: 200px;
    padding-top: 10px;
}

.sub-headlines-text-title {
    font-size: large;
    font-weight: 500;
}

.sub-headlines-text-synopsis {
    font-size: larger;
}

#SearchBox {
	position: absolute;
	top: 15px;
	right: 100px;
	width: 130px;
    z-index: 100;
    display: none; 
    /* Change the display to block */
}

.emergency-contacts-container {
	padding-right: 10px;
}

.emergency-contacts {
	padding-right: 0px;
}

.emergency-contacts-items {
    border: 1px solid blue;
    padding: 10px;
    height: 140px;
}


/* ========================== */

.bordered {
    border: 1px solid red;
}
  
#nav_and_header_bar {
    background-color: rgb(0, 65, 106);
}
  
#nav_menu_input_select, #nav_menu_input_search {
    width: calc(50% - 10px);
    display: inline-block;
    margin: 0 5px;
}
  
#nav_menu_input_group {
    display: inline-block;
}
  
#nav_menu_links ul li {
    display: inline;
    color: #fff;
    font-size: 12px;
}
#nav_menu_links ul {
    flex: 1;
}
  
#nav_menu_links {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
  
#nav_menu_links ul li:after {
    content: '|';
    margin: 0 10px;
}
  
#nav_menu_links ul li:last-child:after {
    content: ;
}
  
.navigation {
    background-color: rgb(232, 227 , 231);
}
  
.navigation ul {
    padding: 10px 0;
    margin-left: 10px;
}
  
.navigation ul li {
    color: rgb(105, 167, 209);
    display: inline;
    /* margin: 0 20px 0 20px; */
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
  
.navigation ul li.active {
    background-color: rgb(105, 167, 209);
    color: #fff;
}
  
#nav_menu_logo img {
    display: block;
    height: 45px;
    width: auto;
}

.element {
    color: #4597CB
}
  
#time_difference_wrapper {
    font-size: 19px;
    display: flex;
    margin-right: 36px;
    margin-top: 6px;
}
  
.time-item-wrapper {
    color:rgb(0, 65, 106);
    font-weight: bolder;
    min-width: 80px;
}
  
.time-item-wrapper small {
   display: block;
   font-size: 10px;
   font-weight: bolder;
}
  
.time-item-wrapper{
    flex: 1;
    /* margin-right: 20px; */
}

.time-item-wrapper:last-of-type {
    margin-right: 0;
}

.banner-tags {
    height: 110px !important;
    padding: 15px;
}

.banner-tags:nth-child(2) {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/* ============================== */
/* SharePoint Search Results page styles */
.sp-search-results-page {
    padding-left: 15px;
    padding-right: 15px;
}

/* Secondary page styles */
.secondary-page {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.secondary-page-transparency {
    background-color: rgba(255, 255, 255, 0.75);
}

.secondary-page-banner {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat !important;
    height: 150px !important;
}

.secondary-page-banner-subtitle {
    font-weight: bold;
}

.secondary-page-column {
    padding-bottom: 10px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: none !important;
    border: none !important;
    background: none !important;
}

.secondary-page-banner-title {
    font-size: xx-large !important;
    font-family: bebas_neueregular, 'Segoe UI';
}

.secondary-page-banner-details {
    font-size: smaller !important;
    font-weight: bold;
}

.secondary-page-banner-img-details {
    margin-top: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 25px;
}

.content-link-container {
    background-color: #f9f9f9 !important;
    border: 1px solid #a2a2a2 !important;
    box-shadow: none !important;
}

.content-link {
    padding: 15px 20px 15px 20px;
}

.content-link-title {
    padding-bottom: 15px;
    font-size: 22px;
    color: black;
    font-family: bebas_neueregular, 'Segoe UI';
}

.content-link-subtitle {
    font-size: 18px;
    color: #4597CB;
    padding-bottom: 10px;
    font-family: bebas_neueregular, 'Segoe UI';
}

.content-link-details {
    color: black;
}

.no-right-padding {
    padding-right: 0px !important
}

.no-bottom-padding {
    padding-bottom: 0px !important
}

.secondary-page-row {
    padding-left: 15px;
    padding-right: 15px
}

.secondary-page-submenu{
    font-size: 1rem;
    padding-bottom: 5px;
    cursor: pointer;
}

.sub-blue {
    color: #4597CB;
}

.bold {
    font-weight: bold;
}

.black {
    color: black;
    font-weight: bold;
}

.secondary-page-application {
    border: 1px solid #989898;
    border-radius: 5px;
    padding: 15px;
}

.secondary-page-content-title {
    margin-top: 12px;
    border-top: 1px solid #989898;
    padding-top: 15px;
    padding-bottom: 35px;
    font-size: 22px;
    color: black;
    font-family: bebas_neueregular, 'Segoe UI';
}

.secondary-page-content-full {
    padding: 30px 10px 10px 0px;
}

.secondary-page-actual-content-title{
    color: #4597CB;
    font-size: 12px;
    font-weight: bold;
}

.secondary-page-actual-content-description {
    font-size: 12px;
}

.secondary-page-actual-content-container {
    padding-bottom: 10px;
}

.no-box-shadow {
    box-shadow: none !important;
}

.secondary-page-left-banners {
    padding-left: 10px
}

.secondary-page-whole {
    margin-bottom: 35px;
}

.submenu-banner-video {
    padding-bottom: 25px
}

.banner-application-banner {
    padding-top: 25px;
}


/*********** Alternate Styles **********/
/* Alternate Styles */
.about-you-page-img-background {
    height: 150px;
	background-image: url('https://atsmro4.sharepoint.com/sites/ai/PublishingImages/jet-plane-wing.png') !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.about-you-page-paddings {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.about-you-diagram {
    height: 180px;
	background-image: url('https://atsmro4.sharepoint.com/sites/ai/PublishingImages/Sample%20CTA.png') !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.about-you {
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 0 !important;
	border: 0 !important;
}

.page-not-found-paddings {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/****** Tertiary Page Styles *****/
.tertiary-page-banner-container {
    padding-bottom: 15px;
}

.tertiary-page-article-title {
    color: black !important;
    font-size: 24px;
    font-weight: 400;
    padding-bottom:10px;
    padding-top: 10px;
}

.tertiary-page-article-subtitle{
    font-weight: bold;
}

.tertiary-page-articles-container {
    padding: 15px 0px 20px 15px
}

.tertiary-page-right-banners-container {
    padding: 15px 0px 20px 15px
}

.header-links {
    color: white;
}

.header-links:visited {
    color: white
}

.blog-excerpt:hover {
    background-color: #00416A;
}

.secondary-page-business-unit {
    padding-top: 15px;
    background-color: #155781;
    margin: -15px;
    margin-bottom: 25px
}

.secondary-page-business-unit-container {
    padding-left: 15px;
    padding-right: 15px;
}

.spbu-title {
    color: white;
    padding-bottom: 15px;
    /* font-weight: bold; */
    font-size: 22px;   
    font-family: bebas_neueregular, 'Segoe UI';
}

.spbu-links {
    position: relative;
    top: -15px;
    margin: -15px;
    /* margin-bottom: 15px; */
    background-color: white;
}

.spbu-links-content {
    padding: 25px 15px 15px 15px;
    font-family: bebas_neueregular, 'Segoe UI';
}

.secondary-page-alert {
    font-size: 20px;
    font-family: bebas_neueregular, 'Segoe UI';
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}
.blogserpdetails1 {
    margin-right: -7px !important;
}

.blogserpdetails3 {
    margin-right: -7px !important;
    margin-top: -15px !important;
}

.blogserpdetails2 {
    margin-left: -7px !important;
}

.blogserpdetails4 {
    margin-left: -7px !important;
    margin-top: -15px !important;   
}

.alert-media-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.alert-media-modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 30px; */
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%;
  }
  
  /* The Close Button */
  .alert-media-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
  }
  
  .alert-media-close:hover,
  .alert-media-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.no-quick-poll {
    border: 1px solid red;
    margin: -15px;
    padding: 15px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

.quick-poll-voted {
    margin: 20px;
    font-size: large;
    font-weight: bold;
    color: black
}

.ms-contextmenu-list {
    margin-right: -20px !important
}

.center {
    line-height: 250px;
    height: 250px;
    text-align: center;
}

.secondary-page-short-contents{
    color: white;
    background-color: blue
}

.content-widget {
    padding-bottom: 25px;
}

.content-widget-header {
    font-size: 20px;
    padding: 10px 10px 10px 15px;
    font-family: bebas_neueregular, 'Segoe UI';
    color: white;
    background-color: #00416A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content-widget-content {
    padding: 10px;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content-widget-header-subtitle {
    padding: 0px 10px 10px 10px;
    font-size: small;
    /* font-style: italic; */
    font-family: bebas_neueregular, 'Segoe UI';
}

.about-you-ul{
    margin-left: -15px;
}

.customSignout {
    width: 97px;
    height: 37px;
    background-color: #3399cc;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    background-image: url(https://atsmro4.sharepoint.com/sites/ai/PublishingImages/logout.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}